#sidebar {
  background-color: #3F4553;
  position: absolute;
  width: 527px;
  height: 100vh;
  z-index: 1;
  transition-duration: 0.5s;
}

.sidebar-header {
  background-color: #272C32;
  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar-header-palette {
  width: 88px;
  height: 72px;
  text-align: center;
  background-color: #3f4553;
  color: #fff;
  cursor: default;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.sidebar-header-palette-icon {
  width: 27px;
  height: 27px;
}

.sidebar-header-palette-name {
  margin-top: 5px;
}

.sidebar-header-search {
  margin-left: 20px;
  width: 300px;
  height: min-content;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #525B6F;
  padding-bottom: 2px;
}

.sidebar-header-search-icon {
  width: 20px;
  height: 20px;
  /*filter: brightness(0.55);*/
  margin-right: 10px;
}

.sidebar-header-search-input {
  width: 100%;
  font-size: 12px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  caret-color: white;
  color: white;
}

.sidebar-header-search-input::-webkit-input-placeholder {
  color: #525B6F;
}

.sidebar-header-toggle {
  width: 119px;
  height: 72px;
  cursor: pointer;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidebar-header-toggle:hover {
  background: linear-gradient(to right, #272C32 50%, #39424a);
  transition: 0.5s;
}

.sidebar-header-toggle-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.sidebar-content {
  height: calc(100vh - 72px);
  width: 100%;
  transition-duration: 0.5s;
}

.coler-list {
  height: calc(100% - 40px - 10px);
  overflow: auto;
  color: #3F4553;
  margin-top: 10px;
}

/* scrollbar */
.coler-list {
  scrollbar-width: thin;
  scrollbar-color: #A8B2CC #3F4553;
}

.coler-list::-webkit-scrollbar {
  height: 120px;
  width: 8px;
}

.coler-list::-webkit-scrollbar-track {
  background: #3F4553;
}

.coler-list::-webkit-scrollbar-thumb {
  border-left: 3px solid #A8B2CC;
}

.coler-list::-webkit-scrollbar-thumb:hover {
  border-left: 3px solid #8991a5;
}

.coler-group {
  display: flex;
  justify-content: start;
  margin-left: 20px;
}

.coler-element {
  width: 77px;
  height: 74px;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  transition: transform 0.1s linear;
}

.based-img, .compared-img, .coler-tick {
  position: absolute;
  margin-top: calc(50% - 15px);
  margin-left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  display: none;
}

.coler-element.based > .based-img {
  display: block;
}

.coler-element.compared > .compared-img {
  display: block;
}

.coler-element.selected {
  transform: scale(0.93);
}

.coler-element.selected > .coler-tick {
  display: block;
}

.coler-element.selected:hover > .coler-tick {
  opacity: unset;
}

.coler-element:hover {
  transform: scale(0.93);
}

.coler-element:hover > .coler-tick {
  display: block;
  opacity: 0.4;
}

.group-ident {
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-right: 7px;
}

.coler-ident {
  position: absolute;
  font-size: 10px;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 7px;
}

.mirror-x {
  transform: scale(-1, 1);
}

.mirror-y {
  transform: scale(1, -1);
}

.color-side-buttons {
  display: flex;
}

.color-side {
  width: 50%;
  color: #525B6F;
  text-align: center;
  vertical-align: middle;
  line-height: 39px;
  font-size: 12px;
  cursor: pointer;
  border-bottom: 1px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.color-side.changed {
  color: #ffffff;
  border-bottom: 1px solid #A8B2CC;

}

.select-icon {
  width: 20px;
  height: 20px;
}

.select-name {
  margin-left: 10px;
}

.color-selected {
  background-color: #3B73F6;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 9px 112px;
  width: fit-content;
  margin: 10px auto;

}
.color-selected:hover {
  background-color: #1055F6;
  cursor: pointer;
}
