@import "sidebar.css";

#root {
  position: relative;
  font-family: Roboto;
  font-size: 12px;
}

.content {
  background-color: bisque;
  position: absolute;
  height: 100vh;
  width: calc(100% - 527px);
  margin-left: 527px;
  z-index: 0;
  transition-duration: 0.5s;
}

.content-layer {
  width: 100%;
  height: 100%;
  position: relative;
}

.background-colors {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.background-color {
  width: 50%;
  height: 100%;
  background-color: bisque;
}

.coler-id-container {
  width: 50%;
  height: 100%;
  background-color: transparent;
}

.coler-ids {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

#background-based {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.coler-based-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
  height: 50%;
  margin-left: 50%;
}

#background-compared {
  display: flex;
  justify-content: start;
}

.coler-compared-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 50%;
}

.coler-id {
  font-size: 24px;
  color: #fff;
  width: 50%;
  text-align: center;
  min-width: fit-content;
}

.color-change {
  /*transform: translateX(100%);*/
  transition-duration: 0.5s;
}

.image-template {
  position: absolute;
  background-image: url(../img/room.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /*z-index: 1;*/
}

.image-template-url {
  background-image: url(../img/facade-template.png);
}

.header {
  position: absolute;
  min-height: 72px;
  color: #60636A;

  display: flex;
  justify-content: start;
  align-items: center;
}

.toggle-image {
  position: absolute;
  /*background-color: #3F4553;*/
  background-color: #1055F6;
  color: #ffffff;
  padding: 6px;
  cursor: pointer;
  right: 0;
  bottom: 50px;
  border-radius: 5px 0 0 5px;
  transition: all 1s .1s ease;

  display: flex;
  justify-content: start;
  align-items: center;
}

.toggle-image-icon {
  margin: 0 3px;
}

.toggle-image-name {
  margin: 0 12px;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.d-none {
  display: none;
}

.header-icon {
  min-width: 45px;
  text-align: center;
}

.header-text {
  line-height: 14px;
}


/* animation */
.sidebar-hide {
  transform: translateX(-497px);
}

.sidebar-hide > .sidebar-content {
  transform: translateX(-30px);
}

.content-full {
  width: calc(100% - 30px);
  margin-left: 30px;
}

.transition {
  transition-duration: 0.5s;
}
