@import "sidebar.css";

#root {
  position: relative;
  font-family: Roboto;
  font-size: 12px;
}

.content {
  background-color: bisque;
  position: absolute;
  height: 100vh;
  width: calc(100% - 527px);
  margin-left: 527px;
  z-index: 0;
}

.content-layer {
  width: 100%;
  height: 100%;
  position: relative;
}

.background-colors {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.background-color {
  width: 50%;
  height: 100%;
  background-color: bisque;
}

#background-first {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.coler-first-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
  height: 50%;
}

#background-second {
  display: flex;
  justify-content: start;
}

.coler-second-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 50%;
}

.coler-id {
  font-size: 24px;
  color: #fff;
  width: 50%;
  text-align: center;
  min-width: fit-content;
}

.color-change {
  /*transform: translateX(100%);*/
  transition-duration: 0.5s;
}

.image-template {
  position: absolute;
  background-image: url(../img/room.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /*z-index: 1;*/
}

.header {
  position: absolute;
  min-height: 72px;
  color: #60636A;

  display: flex;
  justify-content: start;
  align-items: center;
}

.header-icon {
  min-width: 45px;
  text-align: center;
}

.header-text {
  line-height: 14px;
}


/* animation */
.sidebar-hide {
  transform: translateX(-497px);
}

.content-full {
  width: calc(100% - 30px);
  margin-left: 30px;
}

.transition {
  transition-duration: 0.5s;
}

/* scrollbar */
.coler-list {
  scrollbar-width: thin;
  scrollbar-color: #A8B2CC #3F4553;
}

.coler-list::-webkit-scrollbar {
  height: 120px;
  width: 8px;
}

.coler-list::-webkit-scrollbar-track {
  background: #3F4553;
}

.coler-list::-webkit-scrollbar-thumb {
  border-left: 3px solid #A8B2CC;
}

.coler-list::-webkit-scrollbar-thumb:hover {
  border-left: 3px solid #8991a5;
}
