#root {
  position: relative;
  font-family: Roboto;
  font-size: 12px;
}

#sidebar {
  background-color: #3F4553;
  position: absolute;
  width: 527px;
  height: 100vh;
  z-index: 1;
}

.sidebar-header {
  background-color: #272C32;
  display: flex;
  justify-content: start;
  align-items: center;
}

.sidebar-header-palette {
  width: 88px;
  height: 72px;
  text-align: center;
  background-color: #3f4553;
  color: #fff;
  cursor: default;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.sidebar-header-palette-icon {
  width: 27px;
  height: 27px;
}

.sidebar-header-palette-name {
  margin-top: 5px;
}

.sidebar-header-search {
  margin-left: 20px;
  width: 300px;
  height: min-content;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #525B6F;
  padding-bottom: 2px;
}

.sidebar-header-search-icon {
  width: 20px;
  height: 20px;
  /*filter: brightness(0.55);*/
  margin-right: 10px;
}

.sidebar-header-search-input {
  width: 100%;
  font-size: 12px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  caret-color: white;
  color: white;
}

.sidebar-header-search-input::-webkit-input-placeholder {
  color: #525B6F;
}

.sidebar-header-toggle {
  width: 119px;
  height: 72px;
  cursor: pointer;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.sidebar-header-toggle:hover {
  background: linear-gradient(to right, #272C32 50%, #39424a);
  transition: 0.5s;
}

.sidebar-header-toggle-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.mirror-x {
  transform: scale(-1, 1);
}


.coler-list {
  height: calc(100vh - 72px - 10px);
  overflow: auto;
  color: #3F4553;
  margin-top: 10px;
}

.coler-group {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  margin-left: 20px;
}

.coler-element {
  width: 77px;
  height: 74px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  transition: transform 0.1s linear;
}

.coler-element:first-child {
  margin-left: 0;
}

.coler-element:hover {
  transform: scale(0.93);
}

.coler-element:hover > .coler-tick {
  display: block;
  opacity: 0.4;
}

.group-ident {
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-right: 7px;
}

.coler-ident {
  position: absolute;
  font-size: 10px;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 7px;
}

.coler-tick {
  display: none;
  margin-top: calc(50% - 11px);
  margin-left: calc(50% - 11px);
}


.content {
  background-color: bisque;
  position: absolute;
  height: 100vh;
  width: calc(100% - 527px);
  margin-left: 527px;
  z-index: 0;
}

.content-layer {
  width: 100%;
  height: 100%;
  position: relative;
}

.background-colors {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.background-color {
  width: 50%;
  height: 100%;
  background-color: bisque;
}

.color-change {
  /*transform: translateX(100%);*/
  transition-duration: 0.5s;
}

.image-template {
  position: absolute;
  background-image: url(img/room.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  /*z-index: 1;*/
}


.header {
  position: absolute;
  min-height: 72px;
  color: #60636A;

  display: flex;
  justify-content: start;
  align-items: center;
}

.header-icon {
  min-width: 45px;
  text-align: center;
}

.header-text {
  line-height: 14px;
}


/* animation */
.sidebar-hide {
  transform: translateX(-497px);
}
.content-full {
  width: calc(100% - 30px);
  margin-left: 30px;
}

.transition {
  transition-duration: 0.5s;
}

/* scrollbar */
.coler-list {
  scrollbar-width: thin;
  scrollbar-color: #A8B2CC #3F4553;
}

.coler-list::-webkit-scrollbar {
  height: 120px;
  width: 8px;
}

.coler-list::-webkit-scrollbar-track {
  background: #3F4553;
}

.coler-list::-webkit-scrollbar-thumb {
  border-left: 3px solid #A8B2CC;
}

.coler-list::-webkit-scrollbar-thumb:hover {
  border-left: 3px solid #8991a5;
}
