#root {
  position: relative;
  font-family: Roboto;
  font-size: 12px;
}

#sidebar {
  background-color: #3F4553;
  position: absolute;
  width: 527px;
  height: 100vh;
  z-index: 1;
}

#sidebar-toggle {
  position: absolute;
  width: 20px;
  height: 40px;
  background-color: black;
  color: white;
  margin-left: 527px;
  margin-top: 90vh;
  z-index: 1;
}

#sidebar-toggle:hover {
  background-color: #404040;
  color: white;
  cursor: pointer;
}

.sidebar-tabs {
  background-color: #272C32;
  display: flex;
  justify-content: start;
}

.sidebar-tab {
  width: 88px;
  height: 72px;
  background-color: #272C32;
  color: #8C8C8C;
  text-align: center;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-tab:hover {
  background-color: #363d45;
}

.sidebar-tab.active {
  background-color: #3f4553;
  color: #fff;
  cursor: default;
}

.sidebar-tab.active > .sidebar-tab-icon {
  filter: unset;
}

.sidebar-tab-icon {
  width: 27px;
  height: 27px;
  filter: brightness(0.55); /* background-color: #8C8C8C; */
}

.sidebar-tab-name {
  margin-top: 5px;
}

.sidebar-tab-content {
  display: none;
}

#container {
  background-color: bisque;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 0;
}


/* animation */
.sidebar-hide {
  transform: translateX(-527px);
}

.transition {
  transition-duration: 0.5s;
}
